<h2>
  {{ title }}
</h2>

<h3>{{ message }}</h3>

@if ((productsNumber$ | async) > 0) {
  <div>
    {{ productsNumber$ | async }} products loaded ({{ productsTotalNumber$ | async }} total) |
    <span>
      {favourites, plural,
      =0 {no favourite}
      =1 {1 favourite}
      other {{{favourites}} favourites}
    }
    </span>
  </div>
@if (products$ | async; as products) {
  <ul class="products">
    @for (product of products | slice:start:end; track product.id) {
      <li class="productItem" (click)="onSelect(product)"
        [class.discontinued]="product.discontinued" [class.selected]="product === selectedProduct">
        <span class="name">{{ product.name | uppercase }}</span>
        <span class="description">{{ product.description }}</span>
        <span class="price">{{ product.price | currency:'CAD':'symbol-narrow':'.2' }}</span>
      </li>
    }
  </ul>
} @else {
  <h1 class="loading">Loading products</h1>
}
<div class="left">
  <a routerLink="insert" id="addLink">Add new product...</a>
</div>
<div class="right">
  <button (click)="previousPage()" [disabled]="start == 0">Previous Page</button>
  Page {{ currentPage }}
  @if ((productsNumber$ | async) > end) {
    <button (click)="nextPage()">Next Page</button>
  }
  @if ((productsNumber$ | async) <= end) {
    <button (click)="loadMore()">Load {{productsToLoad}} more...</button>
  }
</div>
} @else {
  <h1 class="loading">Loading products</h1>
}